@{
    ViewBag.Title = "Index";
}
<div class="row">
    <div class="col-md-8" style="text-align:center"><br /><h3>Teste cadastro de Anúncios</h3></div>
    <div class="col-md-4" style="padding-top:10px;">
        <h2>Contato</h2>
        Luiz Henrique / Tel.11 9 8334 9028
        <br />E-mail: <a href="mailto:luizgoncalves@gmail.com">luizgoncalves@gmail.com</a><br />
    </div>
</div>
<hr />

<p>
    Reserve 3 horas para realização do teste, após aplicação do teste você tem até 24 horas para envio do seu projeto.
</p>

<p>
    É obrigatório o uso do visual studio e utilização de um banco de dados relacional local para execução desse teste.
</p>

<p>
    <strong>
        O teste consiste na criação de um anuncio na Webmotors utilizando uma aplicação WEB em .NET.
    </strong>
</p>

<p>
    A avaliação consiste em como será feita a arquitetura do seu código, funcionamento e qualidade geral da aplicação.
</p>

<p>Temos 2 pontos de desafio propostos:</p>
<dl class="row">
    <dt class="col-sm-2">Temos 2 pontos de desafio propostos:</dt>
    <dt class="col-sm-2">Consumo de API</dt>
</dl>

<p>
    Para a consulta de marcas, modelos e versões, deve-se utilizar o seguinte endereço:
</p>
<a href="http://desafioonline.webmotors.com.br/swagger/ui/index#/OnlineChallenge" target="_blank">WebService</a>

<p>
    O objetivo do teste é chegar em uma tela básica de crud de anúncios, onde seja possível:
</p>
<dl class="row">
    <dt class="col-sm-2">Incluir</dt>
    <dt class="col-sm-2">Atualizar</dt>
    <dt class="col-sm-2">Consultar</dt>
    <dt class="col-sm-2">Remover</dt>
</dl>

<p>
    anúncios da tabela com consumo das informações de marca, modelo e versão via webservice.
</p>

<p>
    Front-end é opcional para avaliação desse teste, não sendo obrigatório. Apenas uma tela em HTML já é o necessário.
</p>

<p>
    Após a conclusão do seu projeto submeta em formato .zip no endereço
</p>
<a href="http://desafioonline.webmotors.com.br/Home/Cadastrar" target="_blank">Subir Arquivo</a>

